name: Test
on:
  - push
  - pull_request
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt install fonts-dejavu-core libfont-ttf-perl libgd-perl libio-compress-perl libtest-exception-perl libtest-memory-cycle-perl
      - run: perl Makefile.PL
      - run: make test
## this seems to be broken. omit for now
# lint:
#   name: Lint
#   runs-on: ubuntu-latest
#   steps:
#     - uses: actions/checkout@v2
#     - uses: github/super-linter@v3
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         FILTER_REGEX_EXCLUDE: (Makefile\.PL)|(Table\.html)
